.client{
    height: 100vh;
    width: 100%;
}
.client-section{
    width: 75%;
    min-height: 100vh;
    float: right;
}
.client-title{
    height: 80px;
    margin: 0 35px;
}
.client-title h4{
    /* font-family: Poppins; */
font-style: normal;
font-weight: 500;
font-size: 22px;
line-height: 33px;
color: #0C0C0C;
}
.client-table{
    background-color: #F4F7FC;
    height: 85vh;
    padding-top: 50px;
    border-radius: 5px;
}
.table{
    width: 1008px;
    margin-left: 10px;
}
#status{
    /* background-color: tomato; */
}